# Dependencies
node_modules

# Local env files
.env
.env.*
!.env.template

# Build outputs and caches
/.cache
/build
dist
.next/
out/

# Vercel
.vercel

# Turbo repo
.turbo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
*.local

# Medusa-specific
_logs/
*-values.yaml

